<a href="https://colab.research.google.com/github/shihab544/PC-A-_AI_Lab_1626/blob/master/Week_1_Introduction__to_Python_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MD.Shahabuddin
**ID:173-15-1626**
;**Section:PC-(A)**

# My First Python Program "Print Hello World"

In [ ]:
print("Hello World");

Hello World

# Variables and Assignment Statement

In [ ]:
x=6
y=7
print(x+y)

13

In [ ]:
total = x+y
print(total);

13

In [ ]:
name = "Shahabuddin"
name2 = "shihab"
print(name,name2);

Shahabuddin shihab

# Types

In [ ]:
x = 5
type(x)

int

In [ ]:
type(5.5)

float

In [ ]:
type(name)

str

# Arithmetic operators

In [ ]:
 multiplication = 9*9
 print(multiplication)

81

In [ ]:
add = 5+5
print(add)

10

In [ ]:
sub = 70-18
print(sub)

52

In [ ]:
Exponentiation = 3**3
print(Exponentiation)

27

**True Division (/) vs. Floor Division (//)**

In [ ]:
true_division = 10/3
print(true_division)

3.3333333333333335

In [ ]:
floor_division = 10//3
print(floor_division)

3

In [ ]:
remainder = 11%5
print(remainder)

1

# Relational Operators

In [ ]:
x = 20
y = 15
x>y

True

In [ ]:
x<y

False

In [ ]:
x==y

False

In [ ]:
x!=y

True

In [ ]:
x>=y

True

In [ ]:
x<=y

False

# Chaining Comparisons

In [ ]:
x = 3
y = 10

In [ ]:
1 <= x <= 7

True

In [ ]:
1 <= y <= 7

False

# Print Function

**Printing a Comma-Separated List of Items**

In [ ]:
print('Welcome','to','python!')

Welcome to python!

**Printing Many Lines of Text with One Statement also new line**

In [ ]:
print('Hello\nShihab\n\nRight Now i am doing AI lab!!')

Hello
Shihab

Right Now i am doing AI lab!!

**Ignoring a Line Break in a Long String**

In [ ]:
print('This is a longer string, so we \
 split it over two lines')

this is a longer string, so we  split it over two lines

**Printing the Value of an Expression**

In [ ]:
print('sum is',10+5)

sum is 15

What does the following print statement display?

**print('int(5.2)', 'truncates 5.2 to', int(5.2))**

In [ ]:
print('int(5.2)','truncates(5.2)to',int(5.5))

int(5.2) truncates(5.2)to 5

# Including Quotes in Strings

In [ ]:
print('Disply "shihab" in quotes')

Disply "shihab" in quotes

In [ ]:
print('Disply \'shihab\' in quptes')  #using \' escape sequence;

Disply 'shihab' in quptes

In [ ]:
print("Disply the name O'Shihab")

Disply the name O'Shihab

In [ ]:
print("Display \"shihab\" in quotes")

Display "shihab" in quotes

# To avoid using ' and " inside strings, you can enclose such strings in triple quotes:

In [ ]:
print("""Display "shihab" are you 'okay!'""")

Display "shihab" are you 'okay!'

# Multiline Strings

In [ ]:
triple_quotes_strings = """This is triple line-quotes
string and i am 'shihab' from "Brahmanbaraia" hmm"""

In [ ]:
print(triple_quotes_strings)

This is triple line-quotes
string and i am 'shihab' from "Brahmanbaraia" hmm

In [ ]:
print("""This is a lengthy
multiline string containing
a few lines \
of text""")

This is a lengthy
multiline string containing
a few lines of text

# Precision Handling in Python

In [ ]:
a = 3.345675433

In [ ]:
#uising "%" to print value till 2 decimal placse
print("The Value of Number till 2 decimal placse(using %) is :",end="")
print('%.2f' %a)

The Value of Number till 2 decimal pleace(using %) is :3.35

In [ ]:
#using "%" to print value till 4 decimal placse 
print("The value of number till 4 decimal placse(using %) :",end="")
print('%.4f'%a)

The value of number till 4 decimal placse(using %) :3.3457

# Getting Input from the User

In [ ]:
name = input("What's your Name?? ")

What's your Name?? shihab

In [ ]:
print(name)

shihab

In [ ]:
num1 = input('Please Enter First Number: ')
num2  = input('Please Enter Second Number: ')

Please Enter First Number: 20
Please Enter Second Number: 20

In [ ]:
total = num1 + num2
print(total)

2020

In [ ]:
type(total) #Python take input as a string we have to type cast the input

str

In [ ]:
total = int(num1)+int(num2)#Type casting done from String to int
print(total)

40

# Getting an Integer from the User by casting the input format

In [ ]:
another_value = int(input('Enter another integer: '))

Enter another integer: 10

In [ ]:
print(another_value)

10


 **Taking multiple input from the user**

In [ ]:
a, b = input().split()

3 4

In [ ]:
print(a,b)

3 4

In [ ]:
type(a)

str

In [ ]:
print(type(b))

<class 'str'>

In [ ]:
a,b,c,d,e = input().split() #Using split we can take multiple input from user

2 3 4 5 5

In [ ]:
print(a,b,c,d,e)

2 3 4 5 5

# Solving Problem
**Determining the Minimum and Maximum with Built-In Functions min and max**

In [ ]:
number1 = int(input('Enter First Integer: '))
number2 = int(input("Enter Second Integer: "))
number3 = int(input('Enter third Integer: '))

Enter First Integer: 2
Enter Second Integer: 7
Enter third Integer: 4

In [ ]:
max(number1,number2,number3)

7

In [ ]:
min(number1,number2,number3)

2

# Exercises
**Create the variables x = 2 and y = 3, then determine what each of the following statements displays:**



*   print('x =', x)
*   print('Value of', x, '+', x, 'is', (x + x))
*   print('x =')
*   print((x + y), '=', (y + x))

In [ ]:
x = 2
y = 3

In [ ]:
print('X =',x)

X = 2

In [ ]:
print('Value of', x, '+', x, 'is', (x + x))

Value of 2 + 2 is 4

In [ ]:
print('x =')

x =

In [ ]:
print((x + y), '=', (y + x))

5 = 5