<a href="https://colab.research.google.com/github/shihab544/PC-A-_AI_Lab_1626/blob/master/Week_2_Control_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Md.Shahabuddin
**ID:173-15-1626**; 
  **Section:PC(A)**

# IF statement

In [ ]:
grade = 90
if grade>=70:
  print("You passed")

You passed

# IF ELSE Statement

In [ ]:
grade = 90
if grade>=60:
  print('You Passed')
else:
    print("I'm sorry better luck for next time")

You Passed

**Conditional Expression**

In [ ]:
result = ('Passed' if grade>= 60 else 'Failed')

In [ ]:
print(result)

Passed

# IF...elif....else statement

In [ ]:
grade = 79
if grade >= 90:
  print('A+')
elif grade >= 80:
  print('B')
elif grade >=70:
  print('C')
elif grade >= 60:
  print('D')
else:
  print('F')

C

# While Statement

In [ ]:
number = 0
while (number<=10):
  print(number,end=" ") #print in same line with space using end=""
  number+=1

0 1 2 3 4 5 6 7 8 9 10

**while statement to find the first power of 3 larger than 50:**

In [ ]:
product = 3

while product<=50:
  product = product*3

In [ ]:
print(product)

81

# For statement

In [ ]:
for ch in "shahabuddin":
  print(ch,end=" ")

s h a h a b u d d i n

**Built in Range Function**

**Let’s use a for statement and the built-in range function to iterate precisely 10 times, displaying the values from 0 through 9:**

In [ ]:
for counter in range(10):
  print(counter,end=" ")

0 1 2 3 4 5 6 7 8 9

**Use the range function and a for statement to calculate the total of the integers from 0 through 1,000,000.**

In [ ]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

**Function range also has two- and three-argument versions. As you’ve seen, range’s one argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument’s value. Function range’s two-argument version produces a sequence of consecutive integers from its first argument’s value up to, but not including, the second argument’s value, as in:**

In [ ]:
for number in range(3,10):
  
  print(number,end=" ")

3 4 5 6 7 8 9

**Function range’s three-argument version produces a sequence of integers from its first argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value, which is known as the step:**

In [ ]:
for number in range(0,10,2):
 print(number,end=" ")

0 2 4 6 8

**If the third argument is negative, the sequence progresses from the first argument’s value down to, but not including the second argument’s value, decrementing by the third argument’s value, as in:**

In [ ]:
for number in range(10,0,-2):
 print(number,end=" ")

10 8 6 4 2

*Number table print using range function*


---



---



Take an input from user and print the number table

In [ ]:
number = int(input())

10

In [ ]:
for i in range(1,11):
  print(number,"X",i,"=",number*i)

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

# Nested For Loop

In [ ]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

# Break statement

In [ ]:
for number in range(10):
  if number == 5:
    break
  print(number, end=" ")

0 1 2 3 4

# Continue

In [ ]:
for number in range(10):
  if number==5:
    continue
  print(number,end=" ")

0 1 2 3 4 6 7 8 9

# Beginner Problem solving from Uri Online Judge
**Uri Online Judge**

**1.Extremely Basic**

In [ ]:
number = int(input())
number2 = int(input())
total = number+number2
print("X"" ""=""",total)

10
9
X = 19

**2.Area of a Circle**

In [ ]:
R = float(input())
n = 3.14159
area =n*(R*R)
print("A=",'%.4f'%area)

100.64
A= 31819.3103

**Difference**

In [ ]:
A = int(input())
B = int(input())
C = int(input())
D = int(input())
sk = ((A*B)-(C*D))
print("DIFERENCA =",sk)

5
6
7
8
DIFERENCA = -26

**Age in Days**

In [ ]:
A = int(input())
Y = int(A/365)
A = int(A%365)
M = int(A/30)
A = A%30
print("%d ano(s)"%Y)
print("%d mes(es)"%M)
print("%d dia(s)"%D)

400
1 ano(s)
1 mes(es)
5 dia(s)